cloud_file_upload/cloud_file_upload/__pycache__/__init__.cpython-39.pyc
cloud_file_upload/cloud_file_upload/__pycache__/settings.cpython-39.pyc
cloud_file_upload/cloud_file_upload/.env
frontend/package.json
frontend/package-lock.json
